<nav
  class="sticky top-0 z-50 bg-slate-50 border-gray-200 w-full"
  [ngClass]="{'transparent-header': isScrolled, 'scrolled': !isScrolled}"
>
    <div class="container-fluid">
      <h1 class="navbar-brand" href="#">PromoTourism</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/explore">Product</a>
          </li>
        

          
        </ul>

        
       
      </div>
      
    </div>
  </nav>