

   <div class="card card-body mx-auto">
      <img src="../assets/images/kualalumpur_background.jpg" class="col-md-12">
      <p></p>
      <h3>Explore The Magic of Malaysia</h3>
      <p></p>
      <p>Malaysia, offer a variety of attraction, activity, and experiences. There are a lot of things
        to do in Malaysia:

      </p>
      <p>1. You can explore wide variety of cruisine by going to China Town or Little India.</p>
      <p>2. Explore the cool climate and enjoy endless entertaiment, shopping and casinos by going to a popular
        Genting Highlands. </p>
      <p>3. If you are into the world heritage, Malacca is the perfect place to go. 
          It is UNESCO World Heritage site with a long history with its amazing cultural heritage.</p>
      <p>4. Visit the iconic Petronas Twin Tower, it is an archetectural marvel. It is a must visit places if you
            are going to Kuala Lumpur. Batu Caves is also a must visit place in Kuala Lumpur, it is a series of cave and temples.</p>
      <p>5. Visit another heritage, by exploring Penang, a UNESCO World Heritage site, known for its street art, diverse cuisine, and historical sites.</p>
      <p>6. Explore tea plantation and strawberry farm by going to Cameron Highlands.</p>
      <p></p>
    </div>
    <p></p>

    <div class="card card-body">
      <div class="row mb-3">
        <div class="col-md-12">
            <div id="carousel-main" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/images/genting_1.jpg" class="d-block w-100 rounded" alt="Gambar 1">
                    <div class="card-body">
                      <h5 class="card-title">Feautured</h5>
                      <p class="card-text">Genting Highlands - Cable Car</p>
                      <a href="#" class="btn btn-primary" routerLink="/penang">See More</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/genting_2.jpg" class="d-block w-100 rounded" alt="Gambar 2">
                    <div class="card-body">
                      <h5 class="card-title">Feautured</h5>
                      <p class="card-text">Genting Highlands - Buddhist Temple</p>
                      <a href="#" class="btn btn-primary" routerLink="/penang">See More</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/genting_3.jpeg" class="d-block w-100 rounded" alt="Gambar 3">
                    <div class="card-body">
                      <h5 class="card-title">Feautured</h5>
                      <p class="card-text">Genting Highlands - Theme Park</p>
                      <a href="#" class="btn btn-primary" routerLink="/penang">See More</a>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-main" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-main" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
     
      <P></P>
      <div class="card card-body mx-auto" style="width: 400px;">
        <div class="col-md-12">
            <div class="card">
                <img src="assets/images/penang_4.jpg" class="card-img-top" alt="Gambar 1">
                <div class="card-body">
                  <h5 class="card-title">Explore Penang</h5>
                  <p class="card-text">Penang is a state in northwest Malaysia comprising mainland Seberang Perai and Penang Island. On the island, the state capital of George Town is home to landmarks such as colonial Fort Cornwallis, the ornate Chinese clan house Khoo Kongsi and the Kapitan Keling Mosque, all testaments to centuries of foreign influence. To the west, a funicular ascends Penang Hill, with its trails, flower gardens and panoramic views.</p>
                  <a href="#" class="btn btn-primary" routerLink="/penang">See More</a>
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-12">
            <div class="card">
                <img src="assets/images/kl_1.jpg" class="card-img-top" alt="Gambar 1">
                <div class="card-body">
                  <h5 class="card-title">Explore Kuala Lumpur</h5>
                  <p class="card-text">Kuala Lumpur is the capital of Malaysia. Its modern skyline is dominated by the 451m-tall Petronas Twin Towers, a pair of glass-and-steel-clad skyscrapers with Islamic motifs. The towers also offer a public skybridge and observation deck. The city is also home to British colonial-era landmarks such as the Kuala Lumpur Railway Station and the Sultan Abdul Samad Building.</p>
                  <a href="#" class="btn btn-primary" routerLink="/kl">See More</a>
                </div>
            </div>
        </div>
        <p></p>
        <div class="col-md-12">
            <div class="card">
               
                <img src="assets/images/cameron_2.jpg" class="card-img-top" alt="Gambar 1">
                <div class="card-body">
                  <h5 class="card-title">Explore Cameron Highlands</h5>
                  <p class="card-text">The Cameron Highlands is a district in Pahang, Malaysia, occupying an area of 712.18 square kilometres. To the north, its boundary touches that of Kelantan; to the west, it shares part of its border with Perak.</p>
                  <a href="#" class="btn btn-primary" routerLink="/cameron">See More</a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>