<div class="col-md-12">
    <div class="card">
        
        <div class="card-body">
            <img src="assets/images/penang_4.jpg" class="card-img-top" alt="Gambar 1">
            <p>&nbsp;</p>
          <h1 class="card-title">Explore The City of Penang</h1>

          <p>Published On December, 1 2023</p>
  
          <p>⌚3 Minutes Read</p>
          <p>&nbsp;</p>

          <p class="card-text">
            Penang, often hailed as the "Pearl of the Orient," is a captivating Malaysian state that seamlessly blends rich cultural heritage with modernity, offering a myriad of experiences for visitors. Nestled on the northwest coast of Peninsular Malaysia, Penang is renowned for its vibrant fusion of traditions, diverse culinary delights, and historical significance.
            The heart of Penang, George Town, is a UNESCO World Heritage Site, boasting a kaleidoscope of colonial architecture, traditional shophouses, and vibrant street art. 
        </p>
        <p>&nbsp;</p>
        
            <img src="/assets/images/penang_5.jpg" class="card-img-top" alt="Gambar 1">
            <div class="card-body mx-auto" style="width: 400px;">
                <i>🖼️Situation of Local Market in Penang</i>
                <i>📍Lebuh Presgrave, Georgetown, George Town, Penang, Malaysia</i>
            </div>
        <p>&nbsp;</p>
        <p>
            Strolling through its narrow lanes, one can witness the harmonious coexistence of various communities : Malays, Chinese, Indians, and others, contributing to the city's unique cultural tapestry.
            The island is a gastronomic haven, celebrated for its street food and hawker centers. Penang's culinary scene is a tantalizing blend of flavors, with signature dishes like Char Kway Teow, Penang Laksa, and Nasi Kandar captivating the taste buds of locals and tourists alike. Gurney Drive, a renowned food haven, transforms into a bustling night market, offering an array of delectable treats.
            Beyond its culinary delights, Penang boasts a rich historical legacy. The iconic Penang Hill Funicular Railway takes visitors to panoramic heights, offering breathtaking views of the island and mainland. The Kek Lok Si Temple, one of the largest Buddhist temples in Southeast Asia, stands as a testament to the island's religious diversity.
            Penang's cultural vibrancy is further showcased during festivals like Thaipusam and Chinese New Year when the streets come alive with processions and vibrant celebrations. The Penang Peranakan Mansion provides a glimpse into the island's Peranakan heritage, showcasing a splendid collection of antiques and artifacts.
            The sandy beaches of Batu Ferringhi, adorned with luxurious resorts, present an ideal escape for those seeking relaxation and water activities. Adventure seekers can explore the lush Penang National Park, home to diverse flora, fauna, and the famous canopy walk.</p>
        </div>
    </div>
</div>