
<div class="card card-body mx-auto">
    <img src="../assets/images/kl_4.jpg" class="col-md-12">
    <p></p>
    <h3>Explore The Magic of Malaysia</h3>
    <p></p>
    <p class="card-text">Exploring Malaysia is a sensory delight, where vibrant cultures, lush landscapes, and delectable cuisine converge. 
        From the modern skyline of Kuala Lumpur to the historical tapestry of Penang, Malaysia offers a kaleidoscope of experiences. 
        Dive into the turquoise waters of Langkawi, wander through the ancient rainforests of Taman Negara, or savor the diverse street food in bustling markets. 
        The blend of Malay, Chinese, Indian, and indigenous influences creates a harmonious diversity, evident in festivals, traditions, and daily life. 
        With its warm hospitality and natural wonders, Malaysia invites adventurers to discover its enchanting beauty and rich tapestry of traditions.</p>
      <p class="card-text"><small class="text-body-secondary">Don't wait, Book now!</small></p>
  </div>

  <p>&nbsp;</p>
  <div class="card card-body mx-auto">
  <h1>Tourist's Favourite Destination</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    
    <div class="col">
      <div class="card">
        <img src="/assets/images/kl_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kuala Lumpur</h5>
          <p class="card-text">Kuala Lumpur, Malaysia's advanced capital, with its vibrant metropolis and with modern skyscrapers and cultural gems. 
            Petronas Twin Towers stand tall. and diverse neighborhoods offer ana mazing mix of street food, shopping, and cultural experiences.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/images/penang_3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Penang</h5>
          <p class="card-text">Penang, is an island state, Penang is UNESCO-listed George Town, where the streets showcase colonial architecture, beautiful street art,
             and a wide variety of culinary scene blending Malay, Chinese, and Indian flavors.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/images/genting_4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Genting Highlands</h5>
          <p class="card-text">Cameron Highlands, a very cool retreat, tea plantations, flower farms, and strawberry fields. The Cameron highland's beautiful landscapes, 
            nestled in the Titiwangsa Mountains, offer a refreshing escape and scenic beauty.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/images/cameron_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cameron Highlands</h5>
          <p class="card-text">Genting Highlands, a mountain resort, with its refreshing cool climate and entertainment hub. Known for its casinos, theme parks, and cable car rides, 
            it's a popular destination for your relaxation and family trips.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<div class="card col-md-12 card-body mx-auto">
    

 
<p>&nbsp;</p>

 
<app-showproduct></app-showproduct>

  <router-outlet></router-outlet>